body{
    padding: 0px;
    margin: 0px;
}

div{
    box-sizing: border-box;
}

.section{
    padding-top: 100px;
    padding-bottom: 100px;
}

.section .body_element{
    width: 1140px;
    margin: 0 auto;
}

.section.menu{
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu{
    text-align: center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #fff;
}

.menu .list_menu li{
    display: inline-block;
    margin: 10px;
}

.menu .list_menu li a{
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

.main{
    background-image: url('img/main_photo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: 113px;
    height: 400px;
}